.flex {
    display: flex;
}

.first {
    text-align: center;
    justify-content: center;
}

.text {
    justify-content: space-around;
    align-items: center;
    width: 20%;
    border: 1.5px solid black;
}

.no_text {
    width: 60%;
    border: 1.5px solid black;
}

.text2 {
    justify-content: space-around;
    align-items: center;
    width: 20%;
    border: 1.5px solid black;
}

.lnr-envelope {
    color: #0F52BA;
    font-size: 25px;
    margin-bottom: 4px;
}